    <!-- Sample Content goes here -->
    <section>
      <h2 id="form">Login Form</h2>
      <form action="" method="POST">
        <label for="form-1">Username </label>
        <input name="username" type="username" id="form-1" aria-describedby="help-1" placeholder="Placeholder" required="">
        <label for="form-1">Password </label>
        <input name="password" type="password" id="form-1" aria-describedby="help-1" placeholder="Placeholder" required="">
        <label></label>
        <input type="submit" value="Submit">
      </form>
    </section>